body {
    width: 100%;
    padding: 0%;
    margin: 0%;
}

/* HEADER */

header {
    width: 100%;
    height: 100vh;
    background-image: url(/Diseño\ sin\ título\ \(6\).png); 
    background-attachment: fixed; 
}

.titulos {
    margin: 4% auto 0% auto;
    width: 55%;
    height: 10vh;
}

.titulos h1 {
    text-align: center;
}

/*TABLAS MONOTRIBUTO*/
.datocat {
    width: 100%;
    /* height: 20vh; */
    /* background-color: aqua; */
}

table {
    width: 80%;
    margin: auto;
    margin-top: 0%;
    border-collapse: collapse;
   background-color: aliceblue;
   transition: 0.5s;
}

table th {
    border: 1px solid black;
}

table tr {
    border: 1px solid black;
   
}

table td {
    border: 1px solid black;
    height: 5vh;
    width: 10%;
}

.button1 {
    width: 90%;
    height: 7vh;
    background-color: black;
    color: white;
    margin-left: 45%;
    transition: 0.3s;
    border-radius: 0.5rem;
}

.button2 {
    width: 95%;
    height: 7vh;
    background-color: black;
    color: white;
    margin-left: 43%;
    transition: 0.3s;
}

.boton {
    width: 25%;
    height: 10vh;
    margin-left: 28% ;
    margin-top: 2.5%;
}

@media screen and (max-width: 600px) {
    table {
        width: 10%;
    }
}



/* CALCULADORA */

.calculadora {
    width: 100%;
    height: 100vh;
    /* background-color: azure; */
    background-image: url(/Diseño\ sin\ título\ \(6\).png);
    background-attachment: fixed; 
}

.calculadora h1 {
    text-align: center;
    padding-top: 6%;
}

.calc {
    width: 70%;
    height: 50vh;
    background-color: aliceblue;
    margin: 7% auto;
    display: grid;
    justify-content: center;
    border: 0.5px solid black;
}


.inputs label {
    margin-top: 2%;
    margin-left: 1%;
}
.inputs input {
    width: 98%;
    margin-left: 1%;
}

.botoncalc1 {
    width: 30%;
    height: 4vh;
    background-color: black;
    color: white;
    margin-left: 35%;
    margin-top: 2%;
    transition: 0.3s;
    border-radius: 0.5rem;
}

.botoncalc2 {
    width: 32%;
    height: 4vh;
    background-color: black;
    color: white;
    margin-left: 34%;
    margin-top: 2%;
    transition: 0.3s;
}

.result {
   text-align: center;
}

p {
    text-align: center;
}

.volver {
    position: fixed;
    width: 3%;
    height: 3.5rem;
    background-color: transparent;
    margin-left: 95%;
    margin-top: 45%;
}

.volver img {
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
    transition: 0.6s;
    border-radius: 50%;
}

.volver img:hover {
    background-color: #3fdd66;
    border: 1px solid #3fdd66;
    border-radius: 15% ;
    cursor: pointer;
}
    
@media screen and (max-width: 1835px) {
    .titulos h1 {
        font-size: 2rem;
    }

    .calculadora h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1470px) {
    .titulos {
        width: 90%;
    }

    .titulos h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .volver {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .titulos {
        width: 100%;
    }

    .calculadora h1 {
        font-size: 1.6rem;
        padding-top: 10%;
    }

    .titulos h1 {
        font-size: 1.6rem;
    }

    /* .boton {
        width: 70%;
        height: 7vh;
         margin-left: 28% ; 
        margin-top: 2.5%;
    } */

    .button1 {
        width: 90%;
        height: 7vh;
        background-color: black;
        color: white;
        margin-left: -10%; 
        border-radius: 0.5rem;
    }

    .boton {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .titulos {
        width: 100%;
    }

    .titulos h1 {
        font-size: 1.6rem;
    }

    .calculadora h1 {
        padding-top: 20%;
    }

    table {
        width: 100%;
        transition: 0.5s;
    }
}

/* @media screen and (max-width: 490px) {
    .calculadora h1 {
        padding-top: 50%;
    }
} */

@media screen and (max-width: 400px) {
    .titulos {
        width: 100%;
    }

    .calculadora h1 {
        padding-top: 40%;
    }

    .titulos h1 {
        font-size: 1.6rem;
    }

    table {
        width: 100%;
        transition: 0.5s;
    }

    .boton {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    table {
        position: absolute;
    }

    .calculadora h1 {
        padding-top: 60%;
        font-size: 1rem;
    }

    .titulos h1 {
        font-size: 1rem;
        padding-top: 5%;
    }
    .calculadora h1 {
        margin-top: 100%;
    }
}


@media screen and (max-width: 326px) {
    .calculadora h1 {
        margin-top: 100%;
    }

}


